.nav-buttons button {
  margin: 10px 5px;
  border-radius: 10px;
  border: none;
  width: 25px;
  height: 25px;
}

.nav-buttons button:hover {
  border: 1px black solid;
}
.nav-buttons button:active {
  background-color: var(--secondary-color);
}
.active {
  background-color: var(--hover-color);
}
