.stats-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5vh;
}
.stat-box {
  margin-top: 5vh;
  min-width: 30%;
  border: 1px solid black;
  border-radius: 10px;

  display: flex;

  flex-direction: column;
}
.stat-box p {
  text-align: left;
  margin-top: 2%;
  margin-left: 2%;
}
.dchart {
  font-size: 1rem;
  margin: auto;
}
.dchart-innertext-value {
  display: none;
}
.selected.dchart-arcs-path,
.selected.dchart-legend-label {
  opacity: 1;
}
