.tickets {
  width: 80vw;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 15vh;
  bottom: 15vh;
  align-items: center;
  left: 25vh;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.ticket-header {
  background-color: var(--background-color);
}
