.background {
    background-color: #D8F2DF;
    min-height: 100vh;
  }

/* side bar styling*/
.side-bar{
    background-color: white;
    min-width: 25vh;
}

.btn.btn-border-slide{   
    width:85%;
    border: solid 1px black;
    border-radius: 10px;
    text-align: left;
    position: relative;
    z-index: 1;
}

/* .btn:hover, .btn:active{
    background-color: rgb(33, 228, 33);;
} */

.btn.btn-border-slide::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1;
    background-color: rgb(33, 228, 33);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left;
}
.btn.btn-border-slide:hover::before,
.btn.btn-border-slide:focus::before{
    transform: scaleX(1);
}


/* Header styling*/
.header{
    min-height:8vh;
    
}
.headerbg{
    background-image: url("../images/headerbg.jpg");
    height: 30vh;
}

img{
    width:25px;
    height:25px;
}

.headerButtons{
    width:25vh;
    margin-right: 20px;
}

.line{
    position:relative;
    height:35px;
    width:2px;
    background-color: black;
    border-radius: 2px;
    bottom:2.5px;
}

/* Projects div*/

.project-box{
    height:25vh;
    width:90%;
    background-color: white;
    margin-top: -15vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.button{
    width: 3vh;
    background-color: #baf7ca;
    border: none;
    height: 3.5vh;
    border: solid 0px black;
}
.button:active{
    background-color: rgb(33, 228, 33);
}
.active{
    background-color: red;
}

.button:hover{
    border-width: 1px;
    transform: scaleX(1);
}

/* Stat info */

.box{
    width:55vh;
    height:35vh;
    background-color: white;
    margin-top:10vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}