.background {
  background-color: var(--background-color);
}
.content-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "main-content";
}
.sidebar {
  display: none;
}
@media (min-width: 1200px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 0.15fr auto;
    grid-template-areas: "sidebar main-content";
  }
  .sidebar {
    display: block;
    padding: 0 10px;
  }
}

.nav-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
}

.project-box {
  position: relative;
  min-height: 250px;
  max-width: 90%;
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: -15vh;
}
table {
  border-spacing: 0;
}
thead th {
  text-align: left;
}
tbody td {
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
}
tbody tr:nth-child(odd) {
  background-color: rgb(160, 158, 158);
}
tbody tr:hover {
  background-color: var(--hover-color);
}
