.background {
  background-color: var(--background-color);
}

.tickets {
  min-height: 34em;
  max-width: 80vw;
  background-color: white;
  margin: 0 auto;
  margin-top: -15vh;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
}

.tickets table {
  width: 100%;
}
