.tickets {
  height: 70vh;
  width: 80vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15vh;
  border-radius: 10px;
}

.ticket-header {
  background-color: var(--background-color);
}

@media (max-width: 1280px) {
  .tickets {
    width: 70vw;
  }
}
