.headerbg {
  background-image: url("../images/headerbg.jpg");
  height: max(150px, 30vh);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header-content input {
  height: 30px;
}
.header-content p {
  margin: 0px;
}
img {
  width: 25px;
  height: 25px;
}
.header-buttons {
  display: flex;
  justify-content: space-between;
  min-width: max(15vw, 200px);
}

.user-dropdown {
  display: flex;
}
.dividor {
  position: relative;
  height: 35px;
  width: 2px;
  background-color: black;
  border-radius: 2px;
  bottom: 2.5px;
}
