@use "global";

.form_row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.password_error {
  display: flex;
  flex-direction: column;
  span {
    margin: 0;
    font-size: 0.75em;
    font-weight: bold;
    color: global.$error-color;
    text-align: center;
  }
}
